<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
    id="com.freynolds.DaxPlugin"
    version="0.1.1">
    <name>Comscore DaxPlugin</name>   
    <!-- ios -->
    <platform name="ios">    
        <config-file target="config.xml" parent="/*">
            <feature name="DaxPlugin">
                <param name="ios-package" value="DaxPlugin" /> 
            </feature>
        </config-file>
        <js-module src="www/DaxPlugin.js" name="DaxPlugin">
            <clobbers target="DaxPlugin" />
        </js-module>
        <header-file src="src/ios/DaxPlugin.h" />
	    <source-file src="src/ios/DaxPlugin.m" />

        <source-file src="src/ios/comScore/libcomScore.a" framework="true" />
        <header-file src="src/ios/comScore/headers/CSApplicationState.h" />
        <header-file src="src/ios/comScore/headers/CSCacheFlusher.h" />
        <header-file src="src/ios/comScore/headers/CSCensus.h" />
        <header-file src="src/ios/comScore/headers/CSComScore.h" />
        <header-file src="src/ios/comScore/headers/CSCore.h" />
        <header-file src="src/ios/comScore/headers/CSEventType.h" />
        <header-file src="src/ios/comScore/headers/CSKeepAlive.h" />
        <header-file src="src/ios/comScore/headers/CSMeasurementDispatcher.h" />
        <header-file src="src/ios/comScore/headers/CSNotificationsObserver.h" />
        <header-file src="src/ios/comScore/headers/CSOfflineCache.h" />
        <header-file src="src/ios/comScore/headers/CSSessionState.h" />
        <header-file src="src/ios/comScore/headers/CSStorage.h" />
        <header-file src="src/ios/comScore/headers/CSStreamSense.h" />
        <header-file src="src/ios/comScore/headers/CSStreamSenseClip.h" />
        <header-file src="src/ios/comScore/headers/CSStreamSenseDefines.h" />
        <header-file src="src/ios/comScore/headers/CSStreamSenseDelegate.h" />
        <header-file src="src/ios/comScore/headers/CSStreamSensePlaylist.h" />
        <header-file src="src/ios/comScore/headers/CSStreamSensePlugin.h" />
        <header-file src="src/ios/comScore/headers/CSStreamSensePluginProtocol.h" />
        <header-file src="src/ios/comScore/headers/CSStreamSenseState.h" />
        <header-file src="src/ios/comScore/headers/CSStreamingTag.h" />
        <header-file src="src/ios/comScore/headers/CSTaskExecutor.h" />
        <header-file src="src/ios/comScore/headers/CSTransmissionMode.h" />
        <framework src="Security.framework" />  
        <framework src="SystemConfiguration.framework" />
    </platform>
</plugin>