<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
    id="com.freynolds.AppUtils"
    version="0.0.1">
    <name>AppUtils</name>   
    <!-- ios -->
    <platform name="ios">    
        <config-file target="config.xml" parent="/*">
            <feature name="AppUtils">
                <param name="ios-package" value="AppUtils" /> 
            </feature>
        </config-file>
        <js-module src="www/AppUtils.js" name="AppUtils">
            <clobbers target="AppUtils" />
        </js-module>
        <header-file src="src/ios/AppUtils.h" />
	    <source-file src="src/ios/AppUtils.m" />
    </platform>
</plugin>